<select #comboBox (change)="0" >
    <option value="1">valor 1</option>
    <option value="2">valor 2</option>
    <option value="3">valor 3</option>
</select>

<div appAlteraCor>
    Div exemplo.
</div>

<!-- 
[class.c1]="comboBox.value == 1"
[class.c2]="comboBox.value == 2"
[class.c3]="comboBox.value == 3" 
-->