<!-- 
  nome é um atributo com towway data bing
  nome é um atributo interno do component e esse memso esta sendo modificado internamente.
  nomeExterno assume o valor modificado do atributo nome interno ao componenet app-meu-component
  e é espelhado no interpolator abaico da tag <br>, {{nomeExterno}}.
 -->
<!-- <app-meu-component 
  (myClick)="handleClick($event)" 
  [inputParaEnviarDadosParaComponenet]="title"
  [(nome)]="nomeExterno">
</app-meu-component> -->
<!-- <app-meu-component></app-meu-component> -->
<!-- <app-component2>
  <button class="ok">OK</button>
  <button class="erro">Erro</button>
</app-component2>
<br> -->
<!-- <app-component3></app-component3>
<h1>Exemplo externo ao componenet</h1> -->
<app-component5></app-component5>
<!-- {{nomeExterno}} -->